.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container h3 {
  margin-bottom: 0px;
}

.recommended_movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7px;
}

.all_movies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 7px;
}
